gunicorn==20.1.0
flask
boto3
bs4==0.0.1
pandas==1.4.2
awscli==1.27.44
urllib3
lxml
numpy==1.23.0
openai==0.25.0
google-cloud-translate
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Jinja2==3.1.2
SQLAlchemy==2.0.0